.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MY custom css */
/* for Banner */
.h-banner{
  height: 576px;
}

.b-title{
  background-color: rgba(18, 1, 1, 0.650);
  border-radius: 5px;
  padding: 8px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.b-body{
  background-color: rgba(197, 22, 22, 0.380);
  border-radius: 5px;
  padding: 8px;
  font-size: 20px;
  color: yellow;
  font-weight:200px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

@media screen and (max-width: 767px){
  .h-banner{
      height: 360px;
  
  }
}


/* for text title and body */
/* my css */
.bg-banner{
  background-color: rgb(37, 4, 65);;
}
.ff{
  font-family:cursive;
}


.font-title{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;

}

.font-body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

} 


/* link btn css */
.common-link{
  text-decoration: none;
  border: 2px solid rgb(37, 4, 65);
  color:  rgb(37, 4, 65);
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 5px;
  font-weight: bold;   
  
}

.common-link:hover{
  text-decoration: none;
  border: 2px solid whitesmoke;
  color: rgb(245, 245, 245);
  border-radius: 5px;
  background: linear-gradient(180deg, rgba(30,45,125, 1) 0%, rgba(35, 30, 130, 0.9) 38%, rgba(35, 30, 125, 0.9) 100%  );
  padding: 5px;
  font-weight: bold;
      
}
/* title degine */
.title{
  color:  rgb(231, 227, 234);
  background:rgb(79, 8, 74) ;
   width: 50%;
  padding: 6px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 18px ;
}

.title:hover{
  text-decoration: none;
  border: 2px solid whitesmoke;
  color: rgb(245, 245, 245);
  background: linear-gradient(180deg, rgba(30,45,125, 1) 0%, rgba(35, 30, 130, 0.9) 38%, rgba(35, 30, 125, 0.9) 100%  );
  padding: 6px;
  font-weight: bold;
  border-radius: 18px ;
      
}

/* profile css */
.profile img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid red;
  
}
.img-rv img{
  width: 120px;
  height: 120px;
  border-radius: 50%;  
}

.d-center{
  display: flex;
justify-content: center;
}

.cardIMG img{
  height: 360px;
}
.disabled a{
  cursor: not-allowed !important;
  pointer-events: all !important;
 
}

.small-img img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: .5px groove red;
}